// Back To Top
.backToTop {
  text-align: center;
  background-size: 350px 100%;
  background-repeat: no-repeat;
  background-position: center;

  a {
    color: $whiteClr;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    border: 2px solid $whiteClr;
    border-radius: 30px;

    em {
      font-weight: 700;
      position: relative;
      animation: upDown 1s infinite ease-in-out alternate;
    }
  }
}
